html {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(244,168,200);
    background: -moz-linear-gradient(90deg, rgba(244,168,200,1) 0%, rgba(0,109,246,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(244,168,200,1) 0%, rgba(0,109,246,1) 100%);
    background: linear-gradient(90deg, rgba(244,168,200,1) 0%, rgba(0,109,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4a8c8",endColorstr="#006df6",GradientType=1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #333;
}

.container {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

hr {
    margin-left: 0;
    width: 80px;
    background: #000;
    border: none;
    height: 2px;
}

.section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

select, input[type="radio"], input[type="checkbox"], input[type="text"], input[type="number"], textarea {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    background-color: #006df6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0054c2;
}

#result {
    padding: 15px;
    background-color: lightyellow;
    font-weight: bold;
    margin-top: 20px;
    border: 2px solid green;
    border-radius: 5px;
    display: none; /* Initially hidden */
    color: #333;
}

#result p {
    margin: 0;
    padding: 0;
}
